sigfaz/node_modules/.lightningcss-win32-x64-msvc-6jrg1fNi/lightningcss.win32-x64-msvc.node
sigfaz/node_modules/@rolldown/.binding-win32-x64-msvc-zAasDwBB/rolldown-binding.win32-x64-msvc.node
sigfaz/node_modules/@tailwindcss/.oxide-win32-x64-msvc-1IqDBrki/tailwindcss-oxide.win32-x64-msvc.node
